body {
    display: grid;
    grid-template-areas:
    "nav-bar"
    "content"
    "footer";
    grid-template-rows: 80px minmax(500px, auto) 80px;
    min-height: 110vh;
    margin: 0;
    background-color: #0d244b;
}

.nav-bar {
    grid-area: nav-bar;
    background-color: #ffffff;
    position: sticky;
    z-index: 2;
    top: 0;
}

.content {
    display: grid;
    grid-template-areas:
    "background background background"
    ". content-block .";
    grid-template-rows: 33% auto;
    grid-template-columns: 18% auto 18%;
    position: relative;
}

.background {
    grid-area: background;
    background-color: #f1c50e;
}

.content-block {
    grid-area: content-block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 20%;
}

.content-block-grid {
    display: grid;
    grid-template-areas:
    "image-1 image-2 image-3 image-4"
    ". . . ."
    "block-1 block-2 block-3 block-4";
    grid-template-rows: 7fr 1fr 5fr;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    position: relative;
}

.content-block-grid * {
    width: 100%;
    height: 100%;
}

.image-block {
    position: absolute;
    bottom: 20px;
    overflow: hidden;
    height: 100%;
    align-content: flex-end;
}

.image-1 {
    grid-area: image-1;
    bottom: 33%;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
    bottom: 33%;
}

.image-4 {
    grid-area: image-4;
}

.block {
    width: calc(100% - 40px);
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.description {
    grid-area: description;
}

.block-1 {
    grid-area: block-1;
}

.block-2 {
    grid-area: block-2;
}

.block-3 {
    grid-area: block-3;
}

.block-4 {
    grid-area: block-4;
}

.footer {
    grid-area: footer;
    background-color: #333333;
}

.image {
    width: calc(100% - 20px);
    height: auto;
    margin-right: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.icon img {
    width: 60px; /* Ширина іконки */
    height: auto; /* Пропорційна висота */
    margin-bottom: 15px; /* Відступ під іконкою */
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.block .more {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #333; /* Підкреслення нижнім бордюром */
    transition: color 0.3s ease, border-color 0.3s ease;
}

/* Ефект при наведенні на посилання */
.block .more:hover {
    color: #007BFF;
    border-color: #007BFF;
}