* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    flex: 1 0 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 23vw 20px;
    max-height: 80px;
    background-color: #ffffff;
}

.logo {
    font-size: 18px;
    color: #c0c0c0;
}

nav a {
    text-decoration: none;
    margin: 0 10px;
    color: #c0c0c0;
}

nav a:hover {
    color: #478ac9;
}

.top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e5eb;
    padding: 70px 0 60px 0;
}

.bottom-content {
    display: flex;
    flex: 6 0 0;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
}

.image-1 {
    width: 30vw;
    min-width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-2 {
    margin-top: -200px;
    margin-right: 180px;
    width: 15vw;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.info-card {
    margin-top: -200px;
    background-color: #478ac9;
    width: 25vw;
    min-width: 350px;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.info-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.info-card p {
    font-size: 12px;
    line-height: 2;
    margin-bottom: 30px;
}

.info-card button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2 0 0;
    width: 100%;
    min-height: 80px;
    background-color: #333333;
    color: white;
    padding: 0 20px 0 20px;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 1000px) {
    .image-1 {
        min-width: 250px;
    }

    .bottom-content {
        flex-direction: column;
    }

    .image-2 {
        margin-top: -100px;
        margin-right: 100px;
    }

    .info-card {
        margin-top: -40px;
        min-width: 250px;
    }

    .info-card {
        z-index: 2;
    }

    nav {
        display: none;
    }

    .footer {
        margin-top: 70px;
    }

    .menu-icon {
        display: flex;
        max-height: 40px;
    }
}